# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/

notebooks/
data/

# VSCode settings
.vscode/

# Mac and Linux
.DS_Store
.idea/

# Firebase service key and config
config.yaml
firebase/*.json

# Logs and results — KEEP in repo
logs/



# Misc
.env
*.bak
*.swp
*.tmp
